<footer class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="flex-fill content d-flex flex-row-nowrap justify-content-end alignt-items-en p-20">
        <p>Quori | Joakim Richard | 2023-2024</p>
    </div>
</footer>